/*import variables*/
/*import footer*/
.pie {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #c98d7b; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%; }
  footer .logowhat {
    margin-left: 2rem; }

/*import mixin*/
/*import variables*/
/*import extend*/
body .card {
  background-color: #df8367;
  width: 15rem;
  transition: all 0,3 s;
  margin: 2rem; }

/* reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*estilos general*/
body {
  background-color: #deb297;
  position: relative;
  min-height: 100vh;
  padding-bottom: 3rem;
  /*estilos menu*/ }
  body h3 {
    margin-top: 3rem; }
  body small {
    margin-left: 2rem; }
  body .frase {
    margin-bottom: 5rem; }
  body .formulario {
    margin: 10px 15% 5% 15%;
    font-family: Copperplate, Papyrus, fantasy;
    font-weight: bolder;
    color: black; }
  body .btn-primary {
    background-color: brown;
    border-color: brown; }
  body .btn-primary:hover {
    background-color: #f32a07;
    border-color: #f32a07; }
  body nav {
    background-color: #d17754; }
  body .nav-link:hover {
    background-color: #e47966; }
  body .nav-pills {
    --bs-nav-pills-link-active-color: #020202;
    --bs-nav-pills-link-active-bg: #b4412c; }
  body .fuente {
    font-family: Copperplate, Papyrus, fantasy;
    font-weight: bolder;
    color: black;
    text-align: center; }
  body .nav-link {
    color: black; }
    body .nav-link .hover {
      color: #d11010; }
  body .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem; }
  body .menu2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem; }
  body .card:hover {
    transform: scale(1.1, 1.2); }
  @media screen and (min-width: 600px) {
    body .menu {
      display: grid;
      grid-template-areas: "card card"  "card card";
      justify-content: center; }
    body .pie {
      flex-direction: row;
      justify-content: center; }
    body .menu2 {
      display: grid;
      grid-template-areas: "card card" "card card" "card card";
      justify-content: center; }
    body .formulario {
      margin: 10px 15% 5% 15%;
      font-family: Copperplate, Papyrus, fantasy;
      font-weight: bolder;
      color: black; } }
  @media screen and (min-width: 1024px) {
    body .menu {
      display: grid;
      grid-template-areas: "card card card card";
      justify-content: center; }
    body .pie {
      flex-direction: row;
      justify-content: center; }
    body .menu2 {
      display: grid;
      grid-template-areas: "card card card" "card card card";
      justify-content: center; }
    body .formulario {
      margin: 10px 15% 5% 15%;
      font-family: Copperplate, Papyrus, fantasy;
      font-weight: bolder;
      color: black; } }
